.header h1{
  text-align: center;
}
.multiplier{
  width: 40%;
  text-align: center;
  margin: 0 auto;
}
.clickme{
  width: 40%;
  text-align: center;
  margin: 25px;
}
.clickme h2{
  padding-bottom: 15px;
}
.clickme p{
  padding: 10px;
}
.countby{
  width: 40%;
  text-align: center;
  margin: 25px;
}
.hideme, .minimum{
  width: 40%;
  text-align: center;
  margin: 25px;
}
.minimum h2{
  padding-bottom: 20px;
}
.minimum p {
  letter-spacing: 1px;
  font-size: 1.5em;
  padding-top: 20px;
}
.formcomp{
  padding-top: 30px;
  width: 60%;
  margin-left: 30px;
}
.formcomp button {
  margin: 10px;
}